<?xml version='1.0' standalone='yes'?>
<config>
<database>
<server>localhost</server>
<name>gbiz</name>
<user>dbuser</user>
<password>dbpass</password>
</database>
<nominatim>
<url>http://nominatim.openstreetmap.org</url>
</nominatim>
<tables>
<tb_telbooks>telbooks</tb_telbooks>
</tables>
</config>
